#lightbox{
	background-color:#eee;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;

	}
#lightboxDetails{

	}

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }
#closeButton{ top: 0px; right: 0px; }

#overlay{ background-image: url(/Images/overlay.png); }


* html #overlay{
	background-color: #000;
	background-color: transparent;
	background-image: url(/Images/overlay.png);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/Images/overlay.png", sizingMethod="scale");
	}
