@model Booktrade.Models.Book

@{
    ViewBag.Title = "MyBooks";
}

@using (var context = new Booktrade.AppDbContext())
{
    var xx = context.Books.ToList();
    if (xx != null)
    {
        <ul class="list-group">
            @foreach (var book in xx)
            {
                <li class="list-group-item clearfix">
                    @book.Title
                    <div class="pull-right">
                        <a href="#" class="btn btn-primary">Edytuj</a>
                        <a href="#" class="btn btn-danger">Usuń</a>
                    </div>
                </li>
            }
        </ul>

    }
    <form action="/MyAccount/AddBooks">
        <input class="btn btn-default" type="submit" value="Dodaj książkę" />
    </form>
}
