
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
@{
    if (User.Identity.IsAuthenticated)
    {
        <p>
            Hello @CurrentUser.Name @CurrentUser.Surname.?
        </p>
    }else
    {
        <p>Not logged in</p>
    }
}
