@model ICollection<Booktrade.Models.Comment>

@{
    ViewBag.Title = "Komentarze";
}
<head>
    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
</head>
@if (Model.Count() !=0)
{

    <table class="table">
        <thead>
            <tr>
                <th>Data dodania</th>
                <th>Nazwa książki</th>
                <th>Cena</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model)
                {

                    <tr class="clickable-row" data-href="ur">

                        <td>@comment.CommentDate </td>
                        <td>@comment.Rating</td>
                        <td>@comment.Description</td>
                    </tr>
            }
        </tbody>
    </table>

}
else
{
    <h2>Sprzedawca nie posiada żadnych wystawionych komentarzy.</h2>
}