@model Booktrade.ViewModels.LogInModel
@{
    ViewBag.Title = "Log In";
}

<h2>Zaloguj się.</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <p>
        <button type="submit">Zaloguj</button>
    </p>
}