@model Booktrade.ViewModels.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Zarejestruj się, aby móc w pełni korzystać z serwisu. </h2>

@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <p>
        <button type="submit">Zarejestruj</button>
    </p>
}